{% extends 'layout.html' %}
{% load static %}
{% block content %}
<body>
  
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <h3><i class="fa fa-spoon"></i>ALL THE MEALS & BEVERAGES</h3>
        <div class="row mt">
          <div class="col-lg-12">
            
            <div class="content">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead class=" text-primary">
                            <th>
                              Name
                            </th>
                            <th>
                              Picture
                            </th>
                            <th>
                              Description
                            </th>
                            <th class="text-right">
                              Salary
                            </th>
                            <th class="text-right">
                              Edit/ Delete
                            </th>
                          </thead>
                          {% for meal in object_list %}
                          <tbody>
                            <tr>
                              <td>
                                {{meal}}
                              </td>
                              <td>
                                <img src="../static/menu/img/portfolio/work8.jpg" height="40px" alt="">
                              </td>
                              <td>
                                {{meal.description}}
                              </td>

                              <td class="text-right">
                                {{ meal.price }} Rwf
                              </td>
                              <td class="text-right">
                                <button class="btn btn-primary btn-xs"><a href="/{{ meal.get_update_url}}"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-xs" ><a href="/{{ meal.get_delete_url }}"><i class="fa fa-trash-o "></i></a></button>
                              </td>
                            </tr>
                            {% empty %}
                            <div class="alert alert-danger"><b>No Meals yet!</b> Try adding them <button href="/create_meal">Here</button> .</div>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            
          </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
  </section>

</body>
{% endblock %}
