{% extends 'layout.html' %}
{% load static %}
{% block content %}
<body>
  
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i><input method="POST" href="/create_meal" type="submit" >Add a New Meal</h3>
        <div class="row mt">
          <div class="col-lg-12">
            
            <div class="content">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title"> Simple Table</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead class=" text-primary">
                            <th>
                              Name
                            </th>
                            <th>
                              Description
                            </th>
                            <th>
                              City
                            </th>
                            <th class="text-right">
                              Salary
                            </th>
                          </thead>
                          {% for meal in object_list %}
                          <tbody>
                            <tr>
                              <td>
                                {{meal}}
                              </td>
                              <td>
                                {{meal.description}}
                              </td>
                              <td>
                                Oud-Turnhout
                              </td>
                              <td class="text-right">
                                {{ meal.price }} Rwf
                              </td>
                            </tr>
                            {% empty %}
                            <div class="alert alert-danger"><b>No Meals yet!</b> Try adding them <button href="/create_meal">Here</button> .</div>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            
          </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
  </section>

</body>
{% endblock %}
